
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;600;500;400&display=swap')



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    background-color: #28243D;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: max-content;
    border: box-sizing; 
    position: fixed;
}

.navigation {
    width: 100%;
    height: 80px;
    border: 0px 0px 1px 0px;
    gap: 24px;
    background-color: #3D3759;
    justify-content: center;
}

.logo {
    width: 272px;
    height: 80px;
    border: 0px 1px 0px 0px;
    padding: 12px 0px 12px 40px;
    gap: 36px;
}

.wrapper {
    margin: 3% 50% 10% 31%;
    position: relative;
    width: 37%;
    height: 75%;
    border-radius: 2px;
    background-color: #312D4B;
    box-shadow: 0px 2px 10px 0px #1311201A;
}

.card1 {
    padding: 0 25px 0 25px;
    margin: 0 25px 0 0 25px;
}

.text img {
    padding: 10px 0 0 0;
}

.text h3 {
    padding: 0 0 15px 0;
    font-family: Lato;
    font-size: 18px;
    color: #E7E3FCDE;
    font-weight: 700;
    text-align: left;
}


.text p {
    font-family: sans-serif 500;
    font-size: 14px;
    color: #C1C2C4;
}

.input-group {
    padding: 5px;
    border-bottom: solid #E7E3FC3B;
    font-family: sans-serif 500;
    margin: 7px 0 0 0;
}


.input-group label {
    font: Lato;
    font-weight: 500;
    color: #C1C2C4;
}

.input-group input {
    background: transparent;
    border: none;

}

.checkbox-group {
    display: flex;
    white-space: nowrap;
    color: #C1C2C4;
    margin: 9px 0 9px 0;
}

.checkbox-group input {
    width: 18px;
    border: 2px solid #F7A701;
}
  

.checkbox-group label {
    padding: 0 55px 0 5px;
}

.forgot-password a {
    text-decoration: none;
    color: #F7A701;
    padding: 0 0 0 60px;


}

.login {
    border: 2px solid;
    background: #F7A701;
    border-color: transparent;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 5px 0 0 0;
}

.login a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;

}

.create-account {
    color: #C1C2C4;
    display: flex;
    justify-content: center;
    margin: 14px;
}



.create-account a {
    text-decoration: none;
    color: #F7A701;
    padding: 0 0 0 5px;

}

h2 { 
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #E7E3FC3B; 
    line-height:0.1em; 
    margin:10px 0 20px; 
    color: #FFFFFF;
    font-size: small;
} 

 
h2 span { 
    background: #312D4B; 
    padding:0 10px; 
}

.Login-button {
    border: 2px solid;
    background: #FEF4CBCC;
    border-color: transparent;
    text-align: center;
    padding: 5px 0 5px 0;
}

.Login-button img {
    width: 3%; 
    height: auto;
}

.Login-button a {
    text-decoration: none;
    color: #F7A701;
    font-weight: 600;

}


@media screen and (max-width: 662px) {
    .navigation {
        width: 100%;
    }

    .wrapper {
        width: 95%;
        margin: 50px 70px 0 0;
        flex-wrap: wrap;
        padding: 50px 0 0 0;
    }

    .forgot-password a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .checkbox-group label {
        padding: 0 80px -50px 5px;
    }


}

@media screen and (max-width: 1039px) {

    .navigation {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .wrapper {
        width: 85%;
        margin: 0 10px 0 30px;
        flex-wrap: wrap;
    }
    .forgot-password a {
        display: flex;
        flex-wrap: wrap;
        
    }
}



/*
.card1 {
    width: 50%;
    height: auto;
    padding: 36px ;
    margin: auto;
    background-color: #312D4B;
    box-shadow: 0px 2px 10px 0px #1311201A;
}


.checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.input-group {
    display: ;
    border-bottom: 1px solid #E7E3FC3B
}
/*
main {
    width: 1440px;
    height: 944px;
    padding: 24px 0px 0px 0px;
    gap: 40px;
    opacity: 0px;
}

.card1 {
    margin: 0 50% 0 50%;
    width: 450px;
    height: 582px;
    padding: 36px 0px 0px 0px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    background-color: #312D4B;
    box-shadow: 0px 2px 10px 0px #1311201A;
}



